<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>200096390101-kh387lmsi394p15ot6smuokftm2u7t29.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200096390101-kh387lmsi394p15ot6smuokftm2u7t29</string>
	<key>API_KEY</key>
	<string>AIzaSyC6erfvenx9Q46W_o0aNPxlOb-nxK8IRyo</string>
	<key>GCM_SENDER_ID</key>
	<string>200096390101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kevinchan.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagramios-a63d1</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramios-a63d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:200096390101:ios:52cf35db7a749c41</string>
	<key>DATABASE_URL</key>
	<string>https://instagramios-a63d1.firebaseio.com</string>
</dict>
</plist>